[general]
active = true
source_language = "pt"
target_language = "zh-cn"
active_engine = "marian"
hotkey_modifier = "shift"
hotkey_key = "enter"

[engines.deepl]
api_key = ""

[engines.google]
api_key = ""

[engines.marian]
model_path = "./models"

[ui]
show_notifications = true
notification_duration_ms = 2000
show_original_in_notification = true
log_translations = false
log_file = "translations.log"
